<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">Ember Practice</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li> {{#link-to 'tasks'}}Home{{/link-to}}</li>

      <li> {{#link-to 'tasks.new'}}New Task{{/link-to}}</li>


    </ul>

  </div>
</nav>

<div class="container">

  <div class="row">
    <div class="col-md-12">

      {{outlet}}

    </div>
  </div>
</div>